.state-1 {
    /* background-color: #f00; */
    background-color: #eee;
    background-image: url("./src/assets/player.png");
    background-size: cover;
}
.state-2 {
    background-color: #ff0;
}
.state-4 {
    /* background-color: #00f; */
    background-image: url("./src/assets/box.jpg");
    background-size: contain;
}
.state-3 {
    background-image: url("./src/assets/player-target.jpg");
    background-size: cover;
}
.state-6 {
    background-image: url("./src/assets/box-target.jpg");
    background-size: contain;
}
.state-8 {
    /* background-color: #111; */
    background-image: url("./src/assets/wall.jpg");
    background-size: cover;
}
.state-0 {
    background-color: #eee;
}
